/*got from google fonts website */
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*setup of page */
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #0a0a29, #1b3b5f, #0a0a0a);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
font-family: "Henny Penny", sans-serif;
}

/*spacing*/
.container {
width: 80%;
max-width: 800px;
padding: 20px;
  border-radius: 10px;
 margin-top: 40px;
}


h1 {
  margin-top: 40px;
  color: #F2A20C;
  font-family: "Henny Penny", sans-serif;
  font-size: 42px;
}
/* paragraphs */
.part1, .part2 {
 color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*Styling for image*/
.little {
  width: 100%;
 max-width: 600px;
  border: 5px #F2A20C;
  border-radius: 8px;
}
/*caption */
.caption {
  color: #F2A20C;
  font-size: 16px;
  font-style: italic;
  margin-top: 10px;
}
