/*got from google fonts website */
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
.tektur-<uniquifier> {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* setup of page */
body {
  height: 100%;
  background: linear-gradient(180deg, #0a0a29, #1b3b5f, #0a0a0a);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
font-family: "Henny Penny", sans-serif;
}

/* spacing */
.container {
width: 80%;
max-width: 800px;
padding: 20px;
  border-radius: 10px;
 margin-top: 40px;
}

/* headingss */
h1 {
  margin-top: 40px;
  color: #F2A20C;
  font-family: "Henny Penny", sans-serif;
  font-size: 42px;
}
/* Paragraphs */
.part1, .part2 {
 color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Styling for image*/
.little {
  width: 100%;

  border: 5px #F2A20C;
  border-radius: 8px;
}

/* caption Styling */
.caption {
  font-style: italic;
  color: #F2A20C;
  font-size: 20px;
  font-family: "Tektur", sans-serif;
}
